<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="ui container">
      <div class="ui menu">
          <a href='/' class="item">
              Home
          </a>
          <a href='/diaries' class="item">
              Diaries
          </a>
          <a href='/users' class="item">
              Users
          </a>
          <a href='/signup' class="item">
              Sign Up
          </a>
          <div class="right menu">
              <div class="item">
                  <div class="ui icon input">
                      <input type="text" placeholder="Search...">
                      <i class="search link icon"></i>
                  </div>
              </div>
          </div>
      </div>

    {{{body}}}
  </body>
</html>
