<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="ui container">
    {{{body}}}
  </body>
</html>
