<div class="ui stackable segment">
    <h4 class="ui horizontal divider header">
        Diaries
    </h4>

    {{#each diaries}}
        <div class="ui stacked segment">
            <div class="ui basic right aligned segment">
                <h5>{{this.title}}</h5>
                <h6>{{this.date}}</h6>
            </div>

            <div class="ui clearing divider"></div>

            <p class="ui basic segment">
                {{this.text}}

                <br><br>
                <i class="thumbs up blue icon"></i>
                <i class="ui right floated small remove circle red icon"></i>
            </p>
        </div>
    {{/each}}
</div>

<br><br>

<div class="ui stackable segment">
    <h4 class="ui horizontal divider header">
        New diary
    </h4>

    <form class="ui basic segment" action="/diaries/{{userId}}" method="POST">
        <div class="ui form">
            <div class="field">
                <label>Title</label>
                <input rows="2" placeholder="A Day in the Life" name="title">
            </div>
            <div class="field">
                <label>Diary Text</label>
                <textarea placeholder="Dear Diary," name="text"></textarea>
            </div>
        </div>

        <div class="ui horizontal divider"></div>

        <button class="ui blue submit button">
            Submit
        </button>
    </form>
</div>